body{
    background-color: coral;
}

h1{
    color: bisque;
    background-color: blue;
}

#showssketch{
float:right;
}

canvas{
border: 5px solid white;
border-radius: 20px;
animation-name: example;
animation-duration: 3s;
margin-top: 250px;
animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow:3px 3px 40px black;}
    to {box-shadow:3px 3px 40px grey;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}
img{
    width: 50%;
}
